<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bs.music.mapper.CollectMapper">
    <resultMap id="songVo" type="com.bs.music.model.SongVo">
        <!--
          WARNING - @mbggenerated
        -->
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="showCollectSong" resultMap="songVo">
        select cs.id as collectId , cs.song as songId,cs.owner as userId,s.name as songName,s.type as typeId ,t.name as
        songType,s.singer as singerId,i.name as singerName,cs.collect_time as collectTime,s.time_length as timeLength
        from collect as cs,song as s,song_type as t,singer as i
        where cs.song = s.id
        AND s.singer = i.id
        AND s.type = t.id
        <include refid="sql_id"/>
        ORDER BY cs.collect_time
    </select>
    <sql id="sql_id">
        <if test="id != null">
            and cs.owner = #{id}
        </if>
    </sql>
</mapper>